{{define "post"}}
<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ .Args.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="description" content="{{ .Args.description }}">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
	{{- template "header" . }}

  <div class="post with-gutter">
    <div class="publish-date">{{ .Args.publish_date }}</div>
    <h1 class="post-title">{{ .Args.title }}</h1>

    {{ renderMarkdown .Args.markdown }}

  </div>

	{{- template "footer" }}
</body>

</html>
{{end}}
